<form class="b-form" [formGroup]="eventInformationForm">
    <tui-input tuiTextfieldSize="m" formControlName="name">
        Event Name
        <input tuiTextfield type="text" (blur)="onEventNameBlur()" />
    </tui-input>

    <tui-input tuiTextfieldSize="m" formControlName="location" class="tui-space_top-6">
        Location
        <input tuiTextfield type="text" (blur)="onEventLocationBlur()" />
    </tui-input>

    <div class="date-wrapper tui-space_top-6">
        <button tuiIconButton type="button" appearance="secondary" shape="rounded" [size]="'m'" icon="tuiIconCalendar"
            (click)="onClick()"></button>
        <span class="date-text" [class.date_empty]="empty">{{date$ | async}}</span>
    </div>
</form>