<div class="add-participant-wrapper">

    <div class="top-wrapper">
        <tui-input tuiTextfieldSize="m" class="add-participant-input tui-space_right-2"
            [tuiTextfieldLabelOutside]="false" [(ngModel)]="participantName">
            Participant
            <input tuiTextfield type="text" #input />
        </tui-input>

        <tui-input-number tuiTextfieldSize="m" [(ngModel)]="alreadyPaid" class="add-cost-input"
            [postfix]="null | tuiCurrency">
            Paid
        </tui-input-number>


        <button tuiIconButton type="button" class="" [icon]="'tuiIconPlus'" [size]="'m'" appearance="icon"
            (click)="onAddClick()"></button>

    </div>

    <div class="tui-space_top-6">

        <ng-container *ngIf="event && event.participants.length else emptyTags">

            <div class="participants-wrapper tui-space_bottom-2"
                *ngFor="let participant of event.participants; let index = index;">

                <div class="tui-text_body-m tui-space_right-2 left-content">
                    <div class="capitalize">{{participant.name}}</div>
                    <tui-money [currency]="'Rs'" [value]="participant.alreadyPaid"></tui-money>
                </div>

                <div>
                    <button tuiIconButton type="button" class="edit-btn" [icon]="'tuiIconDraft'" [size]="'s'"
                        appearance="icon" (click)="onEditClick(participant)"></button>
                    <button tuiIconButton type="button" class="remove-btn" [icon]="'tuiIconTrash'" [size]="'s'"
                        appearance="icon" (click)="onRemoveParticipant(participant)"></button>
                </div>
            </div>

        </ng-container>

        <ng-template #emptyTags>
            No participants yet, Type in participant's name and click add.
        </ng-template>
    </div>

</div>