<!-- <tui-root> -->

<main>

    <div class="top-section tui-space_bottom-3">
        <button tuiButton type="button" class="" [icon]="'tuiIconChevronLeft'" [size]="'s'"
            (click)="onGoToHome()">Home</button>

        <div class="tui-text_body-xs" *ngIf="isAutoSaving">
            Your changes are being saved 😎
        </div>
    </div>

    <tui-accordion class="container">

        <tui-accordion-item [size]="'s'" [open]="isEventInfoOpen" (click)="onAccordionStateClick(EVENT_INFO)">
            Event Info
            <ng-template tuiAccordionItemContent>
                <app-event-info (OnAutoSave)="onAutoSave($event)"></app-event-info>
            </ng-template>
        </tui-accordion-item>

        <tui-accordion-item [size]="'s'" [open]="isAddParticipantOpen"
            (click)="onAccordionStateClick(ADD_PARTICIPANTS)">
            Add Participants
            <ng-template tuiAccordionItemContent>
                <app-add-participant></app-add-participant>
            </ng-template>
        </tui-accordion-item>

        <tui-accordion-item [size]="'s'" [open]="isAddSpendingOpen" (click)="onAccordionStateClick(ADD_SPENDING)">
            Add Spending
            <ng-template tuiAccordionItemContent>
                <app-add-spending></app-add-spending>
            </ng-template>
        </tui-accordion-item>

        <tui-accordion-item [size]="'s'" [open]="isSummaryOpen" (click)="onAccordionStateClick(SUMMARY)">
            Summary
            <ng-template tuiAccordionItemContent>
                <app-summary></app-summary>
            </ng-template>
        </tui-accordion-item>

    </tui-accordion>

    <!-- 
        <pre>
        -- {{eventInfo$ | async | json}}
        <br>
        -- {{participant$ | async | json}}
      </pre> -->
</main>

<!-- </tui-root> -->