main {
    background: linear-gradient(
      180deg,
      rgba(193, 253, 246, 1) 0%,
      rgba(187, 249, 177, 1) 100%
    );
    margin: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  