<div>
    <h2>Cost Split</h2>

    <table class="tui-table">
        <tbody class="tui-table__tr">
            <tr class="tui-table__th">
                <th class="tui-table__th">Name</th>
                <th class="tui-table__th">Created Date</th>
            </tr>
            <tr class="tui-table__tr">
                <td class="tui-table__td">Pravin</td>
                <td class="tui-table__td">1.1.2022</td>
            </tr>
            <tr class="tui-table__tr">
                <td class="tui-table__td">Kewin</td>
                <td class="tui-table__td">5.6.2022</td>
            </tr>
        </tbody>
    </table>
    
    
    <button routerLink="event"
      tuiButton
      type="button"
      appearance="primary"
      [size]="'s'"
      class="tui-space_top-3"
    >
      Create New Event
    </button>
    
</div>

