main {
//   background: linear-gradient(
//     180deg,
//     rgba(193, 253, 246, 1) 0%,
//     rgba(187, 249, 177, 1) 100%
//   );
  margin: auto;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #f1f1f1;
}


.receipt{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ebefff;
  width: 500px;
  z-index: -10;
}