/* You can add global styles to this file, and also import other style files */

// @import "~@taiga-ui/core/styles/taiga-ui-local";

body {
  font-family: "Nunito", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right;
}
